################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vue-DotNet-JWT/FileContentIndex
/.vs/ProjectEvaluation/vue-dotnet-jwt.metadata.v7.bin
/.vs/ProjectEvaluation/vue-dotnet-jwt.projects.v7.bin
/.vs/Vue-DotNet-JWT/DesignTimeBuild/.dtbcache.v2
/.vs/Vue-DotNet-JWT/v17/.futdcache.v2
/.vs/Vue-DotNet-JWT/v17/.suo
